In [1]:
import pycaret
pycaret.__version__

'3.3.2'

In [6]:
from pycaret.classification import *
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import KMeans, DBSCAN, SpectralClustering
from sklearn.decomposition import PCA
import numpy as np
import seaborn as sns
from sklearn.metrics import silhouette_score, davies_bouldin_score, calinski_harabasz_score
import plotly.express as px
from sklearn.cluster import AgglomerativeClustering
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
import seaborn as sns

from pycaret.clustering import ClusteringExperiment

In [32]:
file_path = 'dataset/n_vima.csv'
df = pd.read_csv(file_path, quotechar='"', delimiter=";")

In [33]:
from pycaret.clustering import *

In [36]:
exp_clu101 = setup(df,  session_id = 123)

In [ ]:

df['STOCK_ACTUAL'] = df['STOCK_ACTUAL'].str.replace(',', '.').astype(float)
df['TOTAL_CANTIDAD_MOVS'] = df['TOTAL_CANTIDAD_MOVS'].str.replace(',', '.').astype(float)
df['PMP'] = df['PMP'].str.replace(',', '.').astype(float)
df['TOTAL_IMPORTE_MOVS'] = df['TOTAL_IMPORTE_MOVS'].str.replace(',', '.').astype(float)
label_encoder = LabelEncoder()
df['ARTICULO'] = label_encoder.fit_transform(df['ARTICULO'])
df['TIPO_MATERIAL'] = label_encoder.fit_transform(df['TIPO_MATERIAL'])
df['CODIGO_FAMILIA'] = label_encoder.fit_transform(df['CODIGO_FAMILIA'])
df.drop(columns=['EMPRESA','PESO_NETO','MULTIPRESENTACION','ARTICULO','CODIGO_FAMILIA'], inplace=True)
columns_to_standardize = ['TIPO_MATERIAL','PMP','STOCK_ACTUAL','TOTAL_CANTIDAD_MOVS','TOTAL_IMPORTE_MOVS','TOTAL_MOVS']
scaler = StandardScaler()
df[columns_to_standardize] = scaler.fit_transform(df[columns_to_standardize])

# IQR para detectar y eliminar outliers
columns = columns_to_standardize

In [37]:
kmeans = create_model('kmeans')

In [ ]:

# crear experimento de clustering
# compare_models()


# Crear un modelo de clustering (por ejemplo, K-Means)
kmeans = create_model('kmeans', num_clusters=3)

# Asignar clusters al DataFrame
df_with_clusters = assign_model(kmeans)

# Imprimir los datos con los clusters asignados
print(df_with_clusters.head())

In [38]:
metrics_df = pull()
metrics = metrics_df.iloc[0].to_dict()
print(metrics)

{'Silhouette': 0.8233, 'Calinski-Harabasz': 2883.631, 'Davies-Bouldin': 0.4917, 'Homogeneity': 0.0, 'Rand Index': 0.0, 'Completeness': 0.0}

In [ ]:
kmeans_cluster = assign_model(kmeans)
kmeans_cluster

In [ ]:
plot_model(kmeans, plot = 'cluster')

In [ ]:
plot_model(kmeans, plot = 'elbow')

In [ ]:
plot_model(kmeans, plot = 'silhouette')

In [ ]:

# Preparar los datos para el análisis
X = df_with_clusters.drop(columns=['Cluster'])  # Características
y = df_with_clusters['Cluster']  # Clusters asignados

# Entrenar un clasificador de árboles de decisión
clf = DecisionTreeClassifier(random_state=123)
clf.fit(X, y)

# Obtener la importancia de las características
feature_importances = clf.feature_importances_
features = X.columns

# Crear un DataFrame con las importancias
importances_df = pd.DataFrame({'Feature': features, 'Importance': feature_importances})
importances_df = importances_df.sort_values(by='Importance', ascending=False)

# Visualizar las importancias de las características
plt.figure(figsize=(10, 8))
sns.barplot(x='Importance', y='Feature', data=importances_df)
plt.title('Importancia de las Características')
plt.show()

In [ ]:
evaluate_model(kmeans)

In [39]:
unseen_predictions = predict_model(kmeans, data=df)
unseen_predictions.head()

,EMPRESA_GVD,ARTICULO_S201,ARTICULO_S620,ARTICULO_00311004056,ARTICULO_00311004058,ARTICULO_00311004077,ARTICULO_00311004078,ARTICULO_00311004151,ARTICULO_00311004417,ARTICULO_00311005828,...,"TOTAL_IMPORTE_MOVS_55470,96","TOTAL_IMPORTE_MOVS_100519,12","TOTAL_IMPORTE_MOVS_144500,56",TOTAL_IMPORTE_MOVS_3131400,"TOTAL_IMPORTE_MOVS_9396,222","TOTAL_IMPORTE_MOVS_23160,2976","TOTAL_IMPORTE_MOVS_3444,408","TOTAL_IMPORTE_MOVS_38935,512",TOTAL_MOVS,Cluster
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,Cluster 2
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4834.0,Cluster 3
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,Cluster 2
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,Cluster 2
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,Cluster 2

In [43]:
#obtener el valor de la columna Cluster del primer registro
cluster_value = unseen_predictions.iloc[0]['Cluster']
print(cluster_value)

Cluster 2